# **Merging two datasets**
In this file I have merged the two dataframes on Line name and origin keys 
then I have converted categorical variables to numerical ones, replaced missing vales with their mode and scaled the data set. Afterwards I have  applied linear regression

#* Reading the Adjusted_2019_Boardings.csv dataset and looking at first few rows*

In [ ]:

from google.colab import files
import pandas as pd   
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded["Adjusted_2019_Boardings.csv"]))
dftemp=df.copy()

Saving Adjusted_2019_Boardings.csv to Adjusted_2019_Boardings.csv

In [ ]:
df.head()

   Unnamed: 0        Date Transfer_Provider  ...    Time_Period Boardings Revenue
0           0  2019-01-01   01 - GO Transit  ...  Wkend_Holiday      2.47    9.92
1           1  2019-01-01   01 - GO Transit  ...  Wkend_Holiday      1.65    3.86
2           2  2019-01-01   01 - GO Transit  ...  Wkend_Holiday     46.18  155.01
3           3  2019-01-01   01 - GO Transit  ...  Wkend_Holiday     51.13   37.02
4           4  2019-01-01   01 - GO Transit  ...  Wkend_Holiday      0.82   25.49

[5 rows x 11 columns]

In [ ]:
df.shape

(2045041, 11)

In [ ]:
df=df.drop(['Date'],axis=1)
df=df.drop(['Unnamed: 0'],axis=1)

#* Reading the GOStations.csv dataset and looking at first few rows*

In [ ]:
uploaded = files.upload()
dfGo = pd.read_csv(io.BytesIO(uploaded["GOStations.csv"]))
#dftemp=df.copy()

Saving GOStations.csv to GOStations.csv

In [ ]:
dfGo.head(2)

                         station name  ... Employment around the Rail station
0          1|   55|Union Station Rail  ...                                NaN
1   1|    1|Agincourt GO Station Rail  ...                         2982.56517

[2 rows x 20 columns]

**Chexcking to find columns that have the same values to merg the two dataset based on those columns**

In [ ]:
print(dfGo['Line Name'].unique())

['Union Station' 'Stouffville' 'Lakeshore East' 'Lakeshore West' 'Barrie'
 'Kitchener' 'Milton' 'Richmond Hill' 'UP Express' 'GO Bus']

In [ ]:
print(df['Ori_Corridor'].unique())

['Lakeshore East' 'GO Bus' 'Lakeshore West' 'Barrie' 'Kitchener'
 'Union Station' 'Milton' 'Stouffville' 'Richmond Hill' 'UP Express']

In [ ]:
print(df['Origin'].unique())

In [ ]:
print(dfGo['Clean Stop Name'].unique())

# *Renaming two columns to be able to merge base on these column as they have  the same unique values *

In [ ]:
df.rename(columns = {'Ori_Corridor': 'Line Name'}, inplace = True)
dfGo.rename(columns = {'Clean Stop Name': 'Origin'}, inplace = True)

In [ ]:
#Left joining the two datasets
dfm = pd.merge(df, dfGo,  how='left', left_on=['Line Name','Origin'], right_on = ['Line Name','Origin'])

In [ ]:
dfm.count

<bound method DataFrame.count of         Transfer_Provider  ... Employment around the Rail station
0         01 - GO Transit  ...                        2340.935511
1         01 - GO Transit  ...                                NaN
2         01 - GO Transit  ...                         758.735246
3         01 - GO Transit  ...                                NaN
4         01 - GO Transit  ...                        1341.443848
...                   ...  ...                                ...
4085981               NaN  ...                                NaN
4085982               NaN  ...                                NaN
4085983               NaN  ...                                NaN
4085984               NaN  ...                                NaN
4085985               NaN  ...                                NaN

[4085986 rows x 27 columns]>

# **Check for duplicate rows**

In [ ]:
#counting duplicate rows
#df.duplicated(subset=None, keep='first')
#dfm=df.drop_duplicates()
#c
any(dfm.duplicated())

False

# **Describing the merged dataset**

In [ ]:
dfm.describe()

          Boardings  ...  Employment around the Rail station
count  4.085986e+06  ...                       742862.000000
mean   1.964432e+01  ...                         3082.614464
std    3.482320e+02  ...                         2697.337575
min   -5.714500e+02  ...                           56.109353
25%    8.200000e-01  ...                         1307.393530
50%    1.650000e+00  ...                         2340.935511
75%    6.600000e+00  ...                         4009.929376
max    4.607782e+04  ...                        15386.259460

[8 rows x 15 columns]

In [ ]:
dfm.isna().sum()

Transfer_Provider                     2416334
Concession                                  0
Ticket_System                               0
Origin                                      0
Line Name                                   0
Mode_Type                                   0
Time_Period                                 0
Boardings                                   0
Revenue                                     0
station name                            25425
Station Name Trimmed                    25874
Line ID                                 25425
Station ID                              25425
stop_lat                               608816
stop_lon                               608816
rail_distance_from_union_miles        3281586
Subway                                  25803
University_College                      25803
University_Nm                         3968364
GO Station_Line                         25803
Park and Ride_Carpool                   25803
Terminal Station                        25803
Shopping Centre                         25803
Parent Station                         149737
City                                    26768
population around the Rail station    3343124
Employment around the Rail station    3343124
dtype: int64

In [ ]:
dfm.dtypes

Unnamed: 0                              int64
Date                                   object
Transfer_Provider                        int8
Concession                               int8
Ticket_System                            int8
Origin                                  int16
Line Name                                int8
Mode_Type                                int8
Time_Period                              int8
Boardings                             float64
Revenue                               float64
station name                            int16
Station Name Trimmed                    int16
Line ID                               float64
Station ID                            float64
stop_lat                              float64
stop_lon                              float64
rail_distance_from_union_miles        float64
Subway                                float64
University_College                    float64
University_Nm                            int8
GO Station_Line                       float64
Park and Ride_Carpool                 float64
Terminal Station                      float64
Shopping Centre                       float64
Parent Station                          int16
City                                     int8
population around the Rail station    float64
Employment around the Rail station    float64
dtype: object

# **Converting categorical variables to numerical ones**

In [ ]:
# Coveting categorical variable to numerical values using one hot encoding

from sklearn.preprocessing import OneHotEncoder
dfm['Concession'] =dfm['Concession'].astype('category').cat.codes
dfm['Transfer_Provider'] =dfm['Transfer_Provider'].astype('category').cat.codes
dfm['Ticket_System'] =dfm['Ticket_System'].astype('category').cat.codes
dfm['Origin'] =dfm['Origin'].astype('category').cat.codes
dfm['Line Name'] =dfm['Line Name'].astype('category').cat.codes
dfm['Mode_Type'] =dfm['Mode_Type'].astype('category').cat.codes
dfm['Time_Period'] =dfm['Time_Period'].astype('category').cat.codes
dfm['station name'] =dfm['station name'].astype('category').cat.codes
dfm['Station Name Trimmed'] =dfm['Station Name Trimmed'].astype('category').cat.codes
dfm['University_Nm'] =dfm['University_Nm'].astype('category').cat.codes
dfm['Parent Station'] =dfm['Parent Station'].astype('category').cat.codes
dfm['City'] =dfm['City'].astype('category').cat.codes

In [ ]:
dfm.head()

   Unnamed: 0  ... Employment around the Rail station
0           0  ...                        2340.935511
1           1  ...                        2841.445415
2           2  ...                         758.735246
3           3  ...                        2841.445415
4           4  ...                        1341.443848

[5 rows x 29 columns]

In [ ]:
dfm = dfm.drop('Date', axis=1) # remove dates from the rows
dfm = dfm.drop('Unnamed: 0', axis=1)

# **Replacing missing values**

In [ ]:
#dfm = dfm.dropna(how='any',axis=0) 
#fill null values
from sklearn.impute import SimpleImputer
dfm['station name'].fillna(dfm['station name'].mode()[0], inplace=True)
dfm['Station Name Trimmed'].fillna(dfm['Station Name Trimmed'].mode()[0], inplace=True)
dfm['Line ID'].fillna(dfm['Line ID'].mode()[0], inplace=True)
dfm['Station ID'].fillna(dfm['Station ID'].mode()[0], inplace=True)
dfm['stop_lat'].fillna(dfm['stop_lat'].mode()[0], inplace=True)
dfm['stop_lon'].fillna(dfm['stop_lon'].mode()[0], inplace=True)
dfm['rail_distance_from_union_miles'].fillna(dfm['rail_distance_from_union_miles'].mode()[0], inplace=True)
dfm['Subway'].fillna(dfm['Subway'].mode()[0], inplace=True)
dfm['University_College'].fillna(dfm['University_College'].mode()[0], inplace=True)
dfm['University_Nm'].fillna(dfm['University_Nm'].mode()[0], inplace=True)
dfm['GO Station_Line'].fillna(dfm['GO Station_Line'].mode()[0], inplace=True)
dfm['Park and Ride_Carpool'].fillna(dfm['Park and Ride_Carpool'].mode()[0], inplace=True)
dfm['Terminal Station'].fillna(dfm['Terminal Station'].mode()[0], inplace=True)
dfm['Shopping Centre'].fillna(dfm['Shopping Centre'].mode()[0], inplace=True)
dfm['Parent Station'].fillna(dfm['Parent Station'].mode()[0], inplace=True)
dfm['City'].fillna(dfm['City'].mode()[0], inplace=True)
dfm['population around the Rail station'].fillna(dfm['population around the Rail station'].mode()[0], inplace=True)
dfm['Employment around the Rail station'].fillna(dfm['Employment around the Rail station'].mode()[0], inplace=True)

# **Scaling the data**

In [ ]:
#scaling data
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
x = dfm.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
dfm = pd.DataFrame(x_scaled)
dfm.head()
# inverse transform
#inverse = min_max_scalerr.inverse_transform(x_scaled)

         0    1    2         3   ...        23        24        25        26
0  0.111111  0.0  0.5  0.073826  ...  0.090659  0.030769  0.143794  0.149041
1  0.111111  0.0  0.5  0.076063  ...  0.090659  0.030769  0.159393  0.181690
2  0.111111  0.0  0.5  0.082774  ...  0.093407  0.215385  0.055346  0.045833
3  0.111111  0.0  0.5  0.085011  ...  0.093407  0.215385  0.159393  0.181690
4  0.111111  0.0  0.5  0.087248  ...  0.096154  0.061538  0.137938  0.083844

[5 rows x 27 columns]

# **Seprating class label and dropping it**

In [ ]:
# separate the class label
# Labels are the values we want to predict
import numpy as np
labels = np.array(dfm[7])

dfm=dfm.drop(dfm.columns[7], axis=1)

# **Diving data to test and train sets**

In [ ]:
from sklearn.model_selection import train_test_split
# setting the random state to 42 which means the results will be the same each time I run the split for reproducible results.
train_instances, test_instances, train_labels, test_labels = train_test_split(dfm, labels, test_size = 0.20, random_state = 42)

print('Training instances Shape:', train_instances.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing instances Shape:', test_instances.shape)
print('Testing Labels Shape:', test_labels.shape)

Training instances Shape: (3268788, 26)
Training Labels Shape: (3268788,)
Testing instances Shape: (817198, 26)
Testing Labels Shape: (817198,)

# **Evaluate Results Function**

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score  
from math import sqrt #for square root calculation

def evaluate_results(gTestLabel, gTestPredictions):  


    mse =  mean_squared_error(gTestLabel, gTestPredictions)
    rmse = sqrt(mse)
    var_score = r2_score(gTestLabel, gTestPredictions)


    print("mse " + str(mse))
    print("rmse " + str(rmse))
    print("var_score " + str(var_score))
    
    print('\n')
  #  for i in range(len(gTestLabel)):
  #      print("row " + str(i) + '\t' + str(gTestLabel[i]) + '\t' + str((gTestPredictions[i]))

# **Applying the model**

In [ ]:
from sklearn import datasets, linear_model 
regr = linear_model.LinearRegression()
 
model = regr.fit(train_instances, train_labels)

# Use the predict method on the test data
test_predictions = model.predict(test_instances)

evaluate_results(test_labels, test_predictions)


# The coefficients + Intercept
#print('\n\n')
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

mse 5.025376824922918e-07
rmse 0.0007088989226203492
var_score 0.9903931905323505


Intercept:
 -0.0033279999193853403
Coefficients:
 [ 7.34636038e-05 -2.23547753e-06 -6.55989528e-05  5.89406150e-05
  1.45848720e-05 -5.24847535e-05 -4.14055751e-05  1.02088285e+00
  1.12938206e-05  1.19148804e-04 -7.51446836e-05 -7.52917643e-05
  8.47362248e-05 -2.35632417e-05 -7.02055856e-04  3.24178484e-05
  3.01453418e-05 -1.37974608e-04  5.83016113e-06  3.71160275e-05
  1.12938437e-06  2.62272572e-05 -1.37747271e-04 -7.36988780e-06
  8.55044058e-05 -1.32202761e-04]